body{
    background-color: #Add8e6;
}

#intro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #4169e1;
}

#imagem img{
    height: 400px;
    width: 400px;
    position: absolute;top: -70%;right: 110%;
    border: 5px solid black;
    border-radius:150px
}

#corpo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #4169e1;
    position: absolute;right: 43%;top:55%;
    margin-left: 35%;
    text-align: left;
}

.geral{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;text-align: center;text-transform: uppercase;
text-decoration: underline;color:blueviolet;font-weight: 800;
}

.caixa1{
    float: left;width: 200px;height: 200px;
    margin: 1%; border: solid 3px #ccc61e;
    background-color: rgb(217, 124, 31);
    position: absolute;right: 20%;top:50%;
    border-radius: 50px;
}

.caixa2{
    float: right;width:250px;height:300px;
    margin: 1%;border: solid 2px #ccc61e;
    background-color: rgb(217, 124, 31);
    position: absolute;right: 20%;top:88%;
    -webkit-transform: perspective(10em)
    rotateY(-20deg);
    transform: perspective(10em)
    rotateY(-20deg);
}

.img2 img{
    height: 300px;
    width:700px;
    position:absolute;top:90%;right: 58%;
    border: 5px solid black;
    border-radius: 30px;
}
.youtube-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;background-color: rgb(217, 124, 31);
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor:pointer;
    position: absolute;top:105%;right:40%;

}